<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciador de Notas Fiscais</title>
    <style>
        body {
            font-family: 'Open Sans', Arial, sans-serif;
            margin: 0;
            padding: 0;
            background: #f4f4f4;
            color: #333;
        }
        
        header {
            background: #2c3e50;
            color: white;
            text-align: center;
            padding: 5px;
        }

        header span {
            font-size: 28px; /* Tamanho ajustado para harmonizar com o globo */
            font-weight: bold;
            letter-spacing: 1px; /* Pequeno espaçamento entre letras para melhor legibilidade */
        }
        
        .container {
            width: 90%;
            margin: auto;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            background: white;
        }
        
        .form {
            background: #ecf0f1;
            padding: 20px;
            margin-bottom: 20px;
            border-radius: 5px;
        }
        
        input[type="file"] {
            margin-bottom: 10px;
        }
        
        button {
            background-color: #3498db;
            color: white;
            border: none;
            padding: 5px 10px;
            cursor: pointer;
            transition: background-color 0.3s;
        }
        
        button:hover {
            background-color: #2980b9;
        }
        
        table {
            border-collapse: collapse;
            width: 100%;
            margin-bottom: 20px;
        }
        
        th, td {
            text-align: left;
            padding: 12px;
            border-bottom: 1px solid #e7e7e7;
        }
        
        th {
            background-color: #3498db;
            color: white;
        }
        
        tr:hover {
            background-color: #f5f5f5;
        }
        
        a {
            color: #3498db;
            text-decoration: none;
            margin: 0 15px;
        }
        
        a:hover {
            text-decoration: underline;
        }

        dialog {
            border: none;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            padding: 20px;
            max-width: 400px;
            width: 100%;
        }

        /* Fundo escurecido quando o modal está aberto */
        dialog::backdrop {
            background: rgba(0, 0, 0, 0.5);
        }

        /* Estilização do Globo */
        .globe-container {
            width: 80px; /* Tamanho ajustado para harmonizar com o texto */
            height: 80px;
            perspective: 1000px; /* Adiciona profundidade para o efeito 3D */
            position: relative;
        }

        .globe-wrapper {
            width: 100%;
            height: 100%;
            position: relative;
            transform-style: preserve-3d;
            animation: rotate 10s infinite linear; /* Animação de rotação */
        }

        .globe-front, .globe-back {
            width: 100%;
            height: 100%;
            position: absolute;
            backface-visibility: hidden; /* Oculta a parte de trás de cada face */
        }

        .globe-front img, .globe-back img {
            width: 100%;
            height: 100%;
        }

        .globe-back {
            transform: rotateY(180deg); /* O verso é girado 180 graus para parecer correto */
        }

        @keyframes rotate {
            from {
                transform: rotateY(0deg);
            }
            to {
                transform: rotateY(360deg);
            }
        }

        .center {
            text-align: center;
        }
    </style>
</head>
<body>
    <header>
        <span>Gerenciador de Notas Fiscais</span>
        <%- include('./partials/nav'); %>
    </header>

    <div class="container">
        <form class="form" action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="xmls" multiple required>
            <button type="submit">Enviar</button>
        </form>


        <table>
            <tr>
                <th>ID</th>
                <th>Grupo de Operação</th>
                <th>Número da Nota</th>
                <th>Nome Destinatário</th>
                <th>Data Nota</th>
                <th>Valor</th>
                <th>CPF/CNPJ</th>
                <th>Observação</th>
                <th>Método de Pagamento</th>
                <th>Nº Pedido</th>
                <th>Data Pedido</th>
                <th>Ações</th>
            </tr>
            <% notas.forEach(nota => { %>
            <tr <% if (!nota.historico) { %> style="background-color: yellow !important;" <% } %>>
                <td><%= nota.id %></td>
                <td><%= nota.natureza_operacao %></td>
                <td><%= nota.numero_nota %></td>
                <td><%= nota.nome_destinatario %></td>
                <td><%= nota.data %></td>
                <td><%= nota.valor %></td>
                <td><%= nota.cpf_cnpj %></td>
                <td><%= nota.observacao %></td>
                <td><%= nota.metodo_pagamento %> <br><br> <%= nota.aut_card %></td>
                <td><%= nota.order_id %></td>
                <td><%= nota.data_criacao_pedido %></td>
                <td>
                    <button onclick="abrirModal('<%= nota.id %>', '<%= nota.numero_nota %>','<%= nota.nota_informativa %>')">Add Nota Inf.</button>
                    <br> <br>
                    <form action="/conciliacao" method="post">
                        <% 
                            let data = nota.data
                            let dataInput = data.replace('/', 'e').replace('/', 'e')
                        %>
                        <input type="hidden" name="idXml" value="<%= nota.id %>">
                        <input type="hidden" name="dateInput" value="<%= nota.data %>">
                        <input type="hidden" name="cpfInput" value="<%= nota.cpf_cnpj %>">
                        <input type="hidden" name="valueInput" value="<%= nota.valor %>">
                        <button type="submit">Procurar</button>
                    </form>
                </td>
            </tr>
            <% }) %>
        </table>
        <dialog id="meuModal">
            <h2 id="modalTitulo"></h2>
            <form class="inline-form" action="/update" method="post">
                <input type="hidden" name="id" id="id">
                <textarea cols="30" rows="5" name="nota_informativa" id="nota_informativa"></textarea>
                <br> <br>
                <button type="submit">Atualizar</button>
            </form>
            <button onclick="document.getElementById('meuModal').close()">Fechar</button>
        </dialog>
    </div>
    <script>
        // Função para abrir o modal e passar informações
        function abrirModal(id, numero_nota, nota_informativa) {
            const modal = document.getElementById('meuModal');
            const modalTitulo = document.getElementById('modalTitulo');
            const idDb = document.getElementById('id');
            const nota_descritiva = document.getElementById('nota_informativa');
            // Atualiza o conteúdo do modal com os dados recebidos
            modalTitulo.textContent = `NF-e. ${numero_nota}`;
            idDb.value = id;
            nota_descritiva.value = nota_informativa;
            // Abre o modal
            modal.showModal();
        }

        // Adicionar interatividade ao globo (pausar/retomar rotação)
        const globeWrapper = document.querySelector('.globe-wrapper');
        let isRotating = true;

        globeWrapper.addEventListener('click', () => {
            if (isRotating) {
                globeWrapper.style.animationPlayState = 'paused';
            } else {
                globeWrapper.style.animationPlayState = 'running';
            }
            isRotating = !isRotating;
        });
    </script>
</body>
</html>